@import 'elements.less';

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
 border: 1px solid #e5e5e5;
 box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#b6b6b6;
  font-size: 12px;
}
.mobilelogo {
  width: 280px;
  display: none;
  padding-top: 15px;
  position: relative;

  h1.image {

    a {
      float: right;
      width: 280px;
      height: 115px;
      display: block;
      color:transparent;
      font-size: 0px;
      background: url(images/mobilelogo.png) 50% 50% no-repeat;
    }
  }

  h1 {
    margin: 0;
  }
}
.mobileopening {
  display: none;
  max-width: 280px;
  margin: 0 auto;
  margin-top: 15px;

  .timebox {
    height: 228px;
    width: 280px;
    background: url(images/opening.png) center no-repeat;

    .dayline {
      visibility: hidden;
      width: 260px;
      margin-left: 10px;
      margin-right: 10px;
      color: #ffffff;
      font-weight: 300;
      line-height: 30px;
      font-size: 14px;

      .dayname {
        float: left;
      }
      .daytime {
        float:right;
      }
    }
    .day1 {
      margin-top:8px;
    }
  }
}
#mainheader {
  .topline {
    background-color: #1f1f1f;
    width: 100%;
    height: 50px;

    .headerleftdata {
      margin-left: 20px;
      color: #ffffff;
      font-size: 16px;
      line-height: 49px;
      display: inline-block;
      float: left;
      font-weight: 300;
    }
    .adresstext {
      margin-left: 40px;
      padding-left: 20px;
      font-size: 14px;
      line-height: 49px;
      background: url(images/adress.png) left 50% no-repeat;
    }
    .socialprof {
      display: inline-block;
      float: right;
      height: 50px;
      margin-right: 20px;

      .socic {
        margin-top: 17px;
        width: 18px;
        height: 16px;
        float: left;
        text-indent: -9999px;
        margin-left: 15px;
        display: block;
        .opacity(0.3);
        .transition(all 300ms ease-in-out);

        &:hover {
          .opacity(1);
          .transition(all 300ms ease-in-out);
        }
      }
      .fbicon{
        width: 14px;
        background: url(images/social.png) 0 0 no-repeat;
      }
      .twiicon {
        background: url(images/social.png) -32px 0 no-repeat;
      }
      .gogicon {
        background: url(images/social.png) -69px 0 no-repeat;
      }
      .rssicon {
        background: url(images/social.png) -109px 0 no-repeat;
      }
    }
  }

  .topslider {
    position: relative;
    width: 100%;

    .pageheder {
      height: 260px;
      margin-top: 78px;
      overflow: hidden;
      width: 100%;
      position:relative;

      .blackmask {
        width: 100%;
        height: 260px;
        text-align: center;
        background: rgba(0,0,0,0.3);

        .logobox {
          width: 480px;
          display: inline-block;
          padding-top: 15px;
          text-align: right;
          position: relative;

          h1.image {

            a {
              float: right;
              width: 443px;
              height: 182px;
              display: block;
              color:transparent;
              font-size: 0px;
              background: url(images/logo.png) 50% 50% no-repeat;
            }
          }

          h1 {
            margin: 0;
          }

          .logocaption {
            position: absolute;
            bottom: 15px;
            right: 190px;
            color:#ffffff;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
          }
        }
      }
    }

    .rightlinepart {
      display: inline-block;
      float: right;
      margin-right: 20px;

      .hiddenbutton {
        float: right;
        overflow: hidden;
        position: relative;
        width: 39px;
        height: 14px;
        cursor: pointer;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        .transition(all 200ms ease-in-out);

        .hide {
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
          -moz-box-shadow:inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow:inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow:inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
          background: url(images/hide.png) 50% 50% no-repeat;
          .opacity(0.3);
          .transition(all 200ms ease-in-out);
        }
      }

      .searchheader {
        margin-top:7px;

        #searchsubmit {
          display: none;
        }
        .searchinput {
          width: 210px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          text-indent: 25px;
          border-radius: 3px;
          background-repeat: no-repeat;
          background-position: 10px 50%;
        }
      }
    }
    .navsection {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 77px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.3);

      .navigationbox {
        margin-left: 20px;
        display: inline-block;
        height: 77px;
        float: left;

        #mobilenav {
          display: none;
        }

        #topmenu {
          float: left;
          font-size: 16px;
          font-weight: 300;

          ul {
            position: relative;

            ul:before {
              content: "";
              position: absolute;
              background: url(images/uldrop.png) left top no-repeat;
              top:-4px;
              left:24px;
              height: 4px;
              width: 100%;
            }
            ul {
              position: absolute;
              margin-left: -13px;
              background-color: #ffffff;
              font-size: 14px;
              z-index: 999;
              width: 170px;
              top: 100%;
              -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.26);
              -moz-box-shadow:    0px 3px 4px rgba(0, 0, 0, 0.26);
              box-shadow:         0px 3px 4px rgba(0, 0, 0, 0.26);
              display: none;

              ul:before {
                top:0;
                left:0;
                background: none;
              }

              ul {
                position: absolute;
                left:100%;
                top:0;
                margin-left: 0;
              }

              li:first-child {
                border-top:none!important;
              }

              li.current-menu-item {
                border: none;
                border-top:1px solid #ededed;
              }

              li {
                position: relative;
                display: block;
                float: none;
                padding: 0;
                margin: 0;
                line-height: 40px;
                height: 40px;
                border: none;
                border-top:1px solid #ededed;
                background: none;

                a {
                  color:#000000;
                  height: 40px;
                  padding-left: 20px;
                  padding-right: 10px;
                  text-shadow: none;

                  &:hover {
                    background: url(images/menuhov.png) 140px 50% no-repeat;
                    color:#ffffff;
                    .transition(all 300ms ease-in-out);
                  }
                }
              }


            }
            li:hover > ul {
              display: block;
            }
            li:first-child {
              background: none;
              padding-left: 0;
            }
            li.current-menu-item {
              border-top:7px solid rgba(0,0,0,0.15);
            }
            li {
              position: relative;
              display: inline-block;
              float: left;
              line-height: 66px;
              height: 71px;
              border-top:7px solid transparent;
              background: url(images/menu_li.png) left 50% no-repeat;
              margin-right: 8px;
              .transition(all 500ms ease-in-out);
              padding-left: 13px;

              &:hover {
                border-color: rgba(0,0,0,0.15);
                .transition(all 100ms ease-in-out);
              }

              a {
                padding-left: 8px;
                padding-right: 8px;
                height: 71px;
                display:block;
                .transition(all 300ms ease-in-out);

                &:hover {
                  .transition(all 300ms ease-in-out);
                }
              }
            }
            a {
              color:#ffffff;
              text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
            }
          }
          ul:after {
            content: ""; clear: both; display: block;
          }
        }

      }
    }
    .flexslider {
      margin-top: 78px;
      overflow: hidden;
      width: 100%;
      position:relative;
      height: auto;

      &:hover {
        ul.flex-direction-nav{
          .flex-prev {
            left:0;
            .transition(all 300ms ease-in-out);
          }
          .flex-next {
            right: 0;
            .transition(all 300ms ease-in-out);
          }
        }
      }

      ul.flex-direction-nav{

        .flex-prev {
          position: absolute;
          top:50%;
          left:-50px;
          margin-top: -60px;
          width: 50px;
          height: 100px;
          -webkit-border-top-right-radius: 3px;
          -webkit-border-bottom-right-radius: 3px;
          -moz-border-radius-topright: 3px;
          -moz-border-radius-bottomright: 3px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          background: rgba(0,0,0,0.3) url(images/leftslide.png) 50% 50% no-repeat;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: rgba(0,0,0,0.6) url(images/leftslide.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }
        .flex-next {
          position: absolute;
          top:50%;
          right:-50px;
          margin-top: -60px;
          width: 50px;
          height: 100px;
          -webkit-border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background: rgba(0,0,0,0.3) url(images/rightslide.png) 50% 50% no-repeat;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: rgba(0,0,0,0.6) url(images/rightslide.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }
      }

      ul.slides {

        li {
          height: 548px;
          position: relative;
          width: 100%;
          display: none;


          div.blackmask {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.37);
          }
        }

        img {
          height: 548px;
          width: 100%;
        }
      }
    }
    .bottomslider {
      height: 25px;
      width: 100%;
      background: url(images/botslide.png) 50% 50%;
      position: absolute;
      left:0;
      bottom: 0;
    }
    .headerdata {
      position: absolute;
      left:0;
      width: 100%;
      top:120px;

      .logobox {
        width: 480px;
        margin-left: 20px;
        padding-top: 55px;
        float: left;
        text-align: right;
        position: relative;

        h1.image {

          a {
            float: right;
            width: 443px;
            height: 182px;
            display: block;
            color:transparent;
            font-size: 0px;
            background: url(images/logo.png) 50% 50% no-repeat;
          }
        }

        h1 {
          margin: 0;
        }

        .logocaption {
          position: absolute;
          bottom: 15px;
          right: 190px;
          color:#ffffff;
          font-size: 16px;
          font-weight: 300;
          font-style: italic;
        }
      }
      .opentimebox {
        width: 480px;
        margin-right: 20px;
        float: right;

        .timeblock {
          width: 438px;
          float: right;

          h2 {
            color:#ffffff;
            font-size: 28px;
            line-height: 28px;
            text-transform:none;
            font-weight: 600;
            margin-left: 47px;
            margin-bottom: 16px;
          }
          .timebox {
            width: 438px;
            height: 228px;
            background: url(images/opening.png) 50% 50% no-repeat;

            .day1 {
              margin-top: 8px;
            }

            .dayline {
              visibility: hidden;
              width: 370px;
              margin-left: 45px;
              color:#ffffff;
              font-weight: 300;
              line-height: 30px;
              font-size: 14px;

              .dayname {
                float: left;
              }
              .daytime {
                float: right;
              }
            }
          }
        }
      }

    }
  }
}
.lson {
  margin-left: 0!important;
}
.page {

  .boxtitle {

    h3 {
      font-weight: 600;
    }
  }

  .recomitems {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 30px;
    border-top: 1px dashed #e5e5e5;

    h3 {
      color:#2d2d2d;
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .featuredcontact {
    border: 6px solid #ffffff;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .formbox  {

    .responditemform {
      margin-bottom: 10px;

      textarea {
        height: 150px;
      }

      label {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 3px;

        span {
          color:#cf435a;
        }
      }
    }
  }

  .aboutpageteam {
    margin: 30px 20px 0px 20px;
    padding-top: 30px;
    border-top: 1px dashed #e5e5e5;
    .boxtitle {

      h3 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 24px;
        color:#2d2d2d;
        font-weight: 600;
      }
    }

    .teamphotos {

      .teamitem {
        width: 25%;
        float: left;

        figure {
          border: 6px solid #ffffff;
          -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
          -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);
          margin: 5px;

          .imagebox {
            overflow: hidden;

            img {
              max-width: 100%;
              height: auto;
              .transition(all 300ms ease-in-out);
            }
          }

          &:hover {
            .imagebox img {
              .scale(1.2);
              .transition(all 300ms ease-in-out);
            }
          }
          figcaption {
            margin:10px;

            .name {
              font-size: 14px;
              font-weight: 700;
              color:#cf435a;
              margin-bottom: 3px;
            }
            .profession {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  ul.skillul {

    li {
      margin-bottom: 20px;

      .skititle {
        display: block;
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 14px;
      }

      .skillline {
        height: 40px;
        background: #f1f1f1;

        .countline {
          color:#ffffff;
          line-height: 40px;
          height: 40px;
          background-color: #cf435a;
          font-weight: 300;
          text-indent: 10px;
          font-size: 16px;
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .galletit {
    float: left;

  }

  .textblock {
    margin: 35px 20px 0px 20px;
    padding-top: 30px;
    border-top: 1px dashed #e5e5e5;
  }

  .aboutpagecontent {
    border-top: 1px dashed #e5e5e5;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;


    .boxtitle {

      h3 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 24px;
        color:#2d2d2d;
        font-weight: 600;
      }
    }
    .cusstyle12 {
      width: 98%;
    }
  }

  .leftpart {
    width: 47%;
    float: left;
  }
  .rightpart {
    width: 47%;
    float: right;
  }

  .sliderarrows {
    float: right;
    margin-right: 20px;
    width: 57px;
    height: 31px;
    background: url(images/arrow.png) 50% 50% no-repeat;

    .prev {
      background: url(images/arrowleft.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      margin: 3px 0px 0px 3px;
      float: left;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowlefthov.png) 50% 50% no-repeat;
      }
    }

    .next {
      background: url(images/arrowright.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      float: left;
      margin: 3px 0px 0px 1px;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowrighthov.png) 50% 50% no-repeat;
      }
    }
  }

  .galsliderarrows {
    margin-top: 23px;
    float: right;
    margin-right: 20px;
    width: 57px;
    height: 31px;
    background: url(images/arrow.png) 50% 50% no-repeat;

    .prev {
      background: url(images/arrowleft.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      margin: 3px 0px 0px 3px;
      float: left;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowlefthov.png) 50% 50% no-repeat;
      }
    }

    .next {
      background: url(images/arrowright.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      float: left;
      margin: 3px 0px 0px 1px;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowrighthov.png) 50% 50% no-repeat;
      }
    }
  }

  .subtitlegal {
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    color:#b6b6b6;

    .dategal {
      margin-left: 15px;
      padding-left: 19px;
      background: url(images/clock.png) left 50% no-repeat;
    }
  }
  .slidergallery {
    overflow: hidden;

    .height400 {
      height: 400px!important;
    }

    .sliderbox {
      position:relative;
      margin: 0 auto;
      max-width: 960px;
      height:600px;

      .items {
        /* this cannot be too large */
        width:20000em;
        position:absolute;

        div {
          float:left;
        }
      }
    }
  }

  .onsinglegal {
    margin-left: 20px;
    margin-right: 20px;
  }

  .gallerygrid {

    .galleryfilterbox {
      margin-left: 6px;
      margin-bottom: 25px;

      ul li {
        display: inline-block;
        float: left;

        a.active {
          .opacity(0.7);
        }

        a {
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
          font-style: italic;
          padding: 4px 9px 4px 9px!important;
          display: inline-block;
          background-color: #cf435a;
          margin-right: 3px!important;
          margin-bottom: 3px!important;
          font-size: 14px!important;
          line-height: 14px;
          color: #ffffff;
          color:#ffffff;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          .transition(all 500ms ease-in-out);

          &:hover {
            .opacity(0.7);
            .transition(all 300ms ease-in-out);
          }
        }
      }
    }
    .galleryitems {

      .galitem {
        margin-bottom: 15px;
        width: 33.3%;
        float: left;

        .imagegally {
          position: relative;
          border: 6px solid #ffffff;
          -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
          -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);
          margin-right: 6px;
          margin-left: 6px;

          img {
            max-width: 100%;
            height: auto;
          }

          .mask0 {
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            .transition(all 300ms ease-in-out);
          }

          .countgal {
            width: 100%;
            position: absolute;
            top:0;
            .transition(all 300ms ease-in-out);
            right: 0;
            height: 100%;

            span {
              position: absolute;
              top:7px;
              right: 7px;
              text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
              padding: 4px 9px 4px 9px!important;
              display: block;
              background-color: rgba(0,0,0,0.55);
              font-weight: 300;
              font-size: 13px!important;
              line-height: 13px;
              color: #ffffff;
              color:#ffffff;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          .mask2 {
            position: absolute;
            bottom: 0;
            height: 30%;
            width: 100%;
            left:0;
            background: #ffffff;

            .gallytitle {
              margin: 10px 15px 5px 10px;
              font-size: 14px;
              font-weight: 700;

              a:hover {
                .opacity(0.7);
                .transition(all 300ms ease-in-out);
              }
            }
            .gallycat {
              font-size: 12px;
              line-height: 12px;
              margin: 0px 15px 8px 10px;
              color:#b6b6b6;
            }
            .gallydate {
              background: url(images/clock.png) left 50% no-repeat;
              padding-left: 18px;
              margin: 0px 15px 0px 10px;
              color:#b6b6b6;
              line-height: 12px;
              font-size: 12px;
            }
          }
          .mask1{
            width: 100%;
            display: block;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            .transition(all 300ms ease-in-out);
          }

          .mask1vs1 {
            width: 100%;
            display: block;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            .transition(all 300ms ease-in-out);

            span {
              position: absolute;
              color:#ffffff;
              top:50%;
              left:50%;
              font-size: 70px;
              line-height: 70px;
              margin-left: -20px;
              margin-top: -35px;
              font-weight: 300;
              .scale(0);
              .transition(all 300ms ease-in-out);
            }
          }

          &:hover {

            .mask0,.countgal {
              top:-30%;
              .transition(all 300ms ease-in-out);
            }
            .mask1 {
              top:-30%;
              background: rgba(0,0,0,0.6);
              .transition(all 300ms ease-in-out);
            }
            .mask1vs1 {
              top:-30%;
              .transition(all 300ms ease-in-out);
              span {
                .scale(1);
                .transition(all 300ms ease-in-out);
              }
            }
          }
        }
      }
    }
  }

  .menuimage {
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover {

      img {
        .scale(1.1);
        .transition(all 300ms ease-in-out);
      }

      .mask {
        .opacity(1);

        span {
          .scale(1);
        }
      }
    }

    .mask {
      .opacity(0);
      .transition(all 300ms ease-in-out);
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      position: absolute;
      background: rgba(0,0,0,0.4);

      a {
        width: 100%;
        height: 100%;
        display: block;
        color:#ffffff;

        span {
          position: absolute;
          top:50%;
          left:50%;
          font-size: 70px;
          line-height: 70px;
          margin-left: -20px;
          margin-top: -35px;
          font-weight: 300;
          .scale(0);
          .transition(all 500ms ease-in-out);
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      .transition(all 300ms ease-in-out);
    }
  }

  .pagetitle {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;

    h2 {
      margin-bottom: 0;
      font-weight: 600;
      color:#2d2d2d;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .descic {
    margin-bottom: 25px;
    background: url(images/descic.png) left 50% no-repeat;
    padding-left: 35px;

    h2 {
      margin-bottom: 0;
      font-weight: 600;
      color:#2d2d2d;
      font-size: 24px;
      line-height: 26px;
    }
  }
  .recip {
    margin-bottom: 25px;
    background: url(images/menutit.png) left 50% no-repeat;
    padding-left: 25px;

    h2 {
      margin-bottom: 0;
      font-weight: 600;
      color:#2d2d2d;
      font-size: 24px;
      line-height: 26px;
    }
  }
  .menutypetitle {
    height: 26px;
    background: url(images/menutit.png) left 50% no-repeat;
    padding-left: 27px;
  }
  .eventtypetitle {
    height: 26px;
    background: url(images/event.png) left 50% no-repeat;
    padding-left: 30px;
  }
  .pageabouttit {
    height: 26px;
    background: url(images/aboutpage.png) left 50% no-repeat;
    padding-left: 40px;
  }
  .pagecontacttit {
    height: 26px;
    background: url(images/contact.png) left 50% no-repeat;
    padding-left: 30px;
  }
  .gallytypetitle {
    height: 26px;
    background: url(images/gallyic.png) left 50% no-repeat;
    padding-left: 40px;
  }
  .blogtypetitle {
    margin-bottom: 25px;
    height: 26px;
    background: url(images/blog.png) left 50% no-repeat;
    padding-left: 35px;

    h2 {
      margin-bottom: 0;
      font-weight: 600;
      color:#2d2d2d;
      font-size: 24px;
      line-height: 26px;
    }
  }
  .menutypelist {
    margin-left: 20px;
    margin-right: 20px;

    .menuslider {
      min-height: 170px;
      position: relative;
      border: 6px solid #ffffff;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);

      .bottommenuslider {
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100px;
        background: rgba(255,255,255,0.8);
        z-index: 9999;

        .timerbox {
          width: 25%;
          float: left;
          border-right: 1px solid #b5b5b5;
          height: 100px;

          .timetext {
            height: 100px;
            margin-left: 33px;
            padding-left: 80px;
            line-height: 100px;
            font-size: 16px;
            color:#2d2d2d;
            background: url(images/timer.png) left 50% no-repeat;
          }
        }
        .portionbox {
          width: 25%;
          float: left;
          border-right: 1px solid #b5b5b5;
          height: 100px;

          .portiontext {
            height: 100px;
            margin-left: 33px;
            padding-left: 90px;
            line-height: 100px;
            font-size: 16px;
            color:#2d2d2d;
            background: url(images/plate.png) left 50% no-repeat;
          }
        }
        .itemcost {
          width: 23%;
          float: left;
          height: 100px;

          .costtext {
            height: 100px;
            margin-left: 33px;
            padding-left: 70px;
            line-height: 100px;
            font-size: 16px;
            color:#2d2d2d;
            background: url(images/price.png) left 50% no-repeat;

            sup {
              font-size: 10px;
            }
          }
        }
        .likebox {
          width: 25%;
          float: left;
          border-right: 1px solid #b5b5b5;
          height: 100px;

          .liketext {
            height: 100px;
            margin-left: 33px;

            line-height: 100px;
            font-size: 16px;
            color:#2d2d2d;


            .post-like {
              line-height: 100px;
              display: inline-block;

              a,.alreadyvoted {
                margin-top: 27px;
                display: block;
                float: left;
                width: 56px;
                height: 50px;
                background: url(images/heart.png) left 50% no-repeat;
              }
              .count {
                margin-left: 20px;
              }
            }
          }
        }
      }

      .flex-direction-nav {
        position: absolute;
        top:-62px;
        right:-6px;
        width: 57px;
        height: 31px;
        background: url(images/arrow.png) 50% 50% no-repeat;

        .flex-prev {
          background: url(images/arrowleft.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          margin: 3px 0px 0px 3px;
          float: left;
          .transition(all 300ms ease-in-out);
          display: block;

          &:hover {
            background: url(images/arrowlefthov.png) 50% 50% no-repeat;
          }
        }

        .flex-next {
          background: url(images/arrowright.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          float: left;
          margin: 3px 0px 0px 1px;
          .transition(all 300ms ease-in-out);
          display: block;

          &:hover {
            background: url(images/arrowrighthov.png) 50% 50% no-repeat;
          }
        }
      }

      ul.slides {


        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .menutypeitem:nth-child(3n+3){
      margin-right: 0;
    }
    .menutypeitem {
      margin-bottom: 20px;
      width: 32%;
      margin-right: 2%;
      float: left;


      .whitebox {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);

        .titile {
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 14px;
          font-weight: 700;

          a:hover {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
        }
        .descr {
          font-size: 13px;
          font-weight: 300;
          line-height: 18px;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 20px;
          height: 90px;
        }
        .menubottom {
          margin-left: 15px;
          margin-right: 15px;

          .menulink {
            margin-left: 3px;
          }

          .pricemenu {
            background: url(images/dollar.png) left 50% no-repeat;
            height: 31px;
            line-height: 31px;
            margin-right: 10px;
            padding-left: 20px;
            color:#2d2d2d;
            font-size: 28px;

            sup {
              line-height: 0px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .eventtypelist {
    margin-left: 20px;
    margin-right: 20px;


    .menutypeitem:nth-child(2n+2){
      margin-right: 0;
    }
    .menutypeitem:nth-child(3),.menutypeitem:nth-child(4),.menutypeitem:nth-child(7),.menutypeitem:nth-child(8){
      .menuimage {
        width: 50%;
        float: right;
      }
      .righteventpart {
        width: 50%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;

        .titile,.date,.descr {
          text-align: right;
        }
        .menulink {
          float: right!important;
        }
      }
    }
    .menutypeitem {
      margin-bottom: 20px;
      width: 49%;
      margin-right: 2%;
      float: left;

      .menuimage {
        width: 50%;
        float: left;
      }
      .righteventpart {
        width: 50%;
        float: right;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .whitebox {
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);

        .titile {
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 14px;
          font-weight: 700;

          a:hover {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
        }
        .date {
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 10px;
          font-size: 12px;
          color:#b6b6b6;

          span {
            background: url(images/clock.png) left 50% no-repeat;
            padding-left: 18px;
          }
        }
        .descr {
          font-size: 13px;
          font-weight: 300;
          line-height: 18px;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 20px;
        }
        .menubottom {
          margin-left: 15px;
          margin-right: 15px;

        }
      }
    }
  }

  .menuitemsbottom {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 30px;
  }
  .descriptionmenusection {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

    .leftpartmenu {
      width: 65%;
      float: left;

      .text {
        line-height: 20px;
        font-size: 14px;

        p {
          line-height: 20px;
          font-size: 14px;
        }
      }
    }
    .rightpartmenu {
      width: 25%;
      float: right;

      .text {
        line-height: 20px;
        font-size: 13px;

        p {
          line-height: 20px;
          font-size: 13px;
        }
      }
    }
  }
  .paginationbox {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px dashed #e5e5e5;

    ul.page-numbers {
      margin-top: 10px;
      text-align: center;
      height: 35px;

      width: 100%;

      li {
        display: inline-block;

        text-align: center;

        span.current {
          padding: 5px 8px 5px 8px;
          .border-radius(2px);
          display: block;
          background: #f5f5f5;
        }

        a {
          padding: 5px 8px 5px 8px;
          .border-radius(2px);
          display: block;

          &:hover {
            background: #f5f5f5;
          }
        }
      }
    }
  }
}


.iconssection {
  margin-top: 50px;
  margin-bottom: 50px;

  .iconbox {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 33%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    .transition(all 300ms ease-in-out);

    &:hover {
      background: #f9f9f9;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.15);
      box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.15);
      .transition(all 300ms ease-in-out);


      .imageboxicon {
        margin-bottom: 15px!important;
        margin-top: 15px;
        .transition(all 300ms ease-in-out);
      }
    }

    .imageboxicon {
      height: 80px;
      margin-bottom: 30px;
      .transition(all 300ms ease-in-out);
      visibility: hidden;
    }
    .titleboxicon {
      color:#2d2d2d;
      font-size: 28px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 25px;
      visibility: hidden;
    }
    .descboxicon {
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 25px;
      visibility: hidden;
    }
    .imageboxicon,.titleboxicon,.descboxicon,.linkboxicon {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
.abouthome {
  width: 100%;
  color:#ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
  height: 215px;

  .blackbg {
    background: rgba(0,0,0,0.27);
    height: 215px;
    width: 100%;
  }

  .aboutdescr {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    visibility: hidden;

    p {
      text-align: center;
    }
  }
  .abouttitle {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    visibility: hidden;
  }
}
.reviews {
  margin-bottom: 45px;
  width: 100%;
  height: 260px;
  border-top:14px solid #000;

  .revtit {
    visibility: hidden;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 48px;
    font-weight: 600;
    color:#ffffff;
    font-size: 30px;
    line-height: 30px;
  }
  .revitems {
    margin-left: 20px;
    margin-right: 20px;

    .itemrev {
      visibility: hidden;
      width: 33%;
      float: left;

      .leftimage {
        width: 65px;
        float: left;

        img {
          max-width: 100%;
          height: auto;
          -webkit-border-radius: 360px;
          -moz-border-radius: 360px;
          border-radius: 360px;
        }
      }
      .rightinfo {
        margin-left: 90px;
        overflow: hidden;
        margin-right: 20px;

        .descre {
          color:#ffffff;
          .opacity(0.5);
          font-size: 13px;
          line-height: 18px;
          font-weight: 300;
        }
        .titlere {
          text-transform: uppercase;
          color:#ffffff;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.bottomtwoboxes {
  overflow: hidden;
  margin-bottom: 50px;

  .fullmenubox {
    visibility: hidden;
    float: left;
    width: 100%;

    .ourmenubox {
      margin-left: 20px;
      margin-right: 10px;

      .titlebox {
        margin-bottom: 45px;

        h2 {
          margin:0;
          font-size: 28px;
          color:#2d2d2d;
          line-height: 28px;
          display: inline-block;
          margin-right: 15px;
          float: left;
          font-weight:600;
        }

        .custom-direction-nav {
          display: inline-block;
        }
      }

      .custom-direction-nav {
        float: left;
        margin-top: 1px;
        width: 57px;
        height: 31px;
        display: block;
        background: url(images/arrow.png) 50% 50% no-repeat;


        li {
          font-size: 0px;
          float: left;
        }
        .flex-next {
          background: url(images/arrowright.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          margin: 3px 0px 0px 1px;
          display: block;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: url(images/arrowrighthov.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }

        .flex-prev {
          background: url(images/arrowleft.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          margin: 3px 0px 0px 3px;
          display: block;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: url(images/arrowlefthov.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }
      }

      .menuitemslist {

        .flex-viewport {
          padding-left: 2px;
          padding-bottom: 5px;
        }

        ul.slides {
          width: 100%;

          li.menufooditem {

            .boxmenuitem {
              width: 95%;

              .whitebox {
                padding-top: 20px;
                padding-bottom: 20px;
                -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
                box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);

                .titile {
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  font-size: 14px;
                  line-height: 14px;
                  font-weight: 700;

                  a:hover {
                    .opacity(0.5);
                    .transition(all 300ms ease-in-out);
                  }
                }
                .descr {
                  font-size: 11px;
                  font-weight: 300;
                  line-height: 14px;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-bottom: 20px;
                }
                .menubottom {
                  margin-left: 10px;
                  margin-right: 10px;

                  .menulink {
                    margin-left: 3px;
                  }

                  .pricemenu {
                    background: url(images/dollar.png) left 50% no-repeat;
                    height: 31px;
                    line-height: 31px;
                    margin-left: 20px;
                    padding-left: 20px;
                    color:#2d2d2d;
                    font-size: 28px;

                    sup {
                      line-height: 0px;
                      font-size: 14px;
                    }
                  }
                }
              }

              .menuimage {
                position:relative;

                &:hover {

                  .mask {
                    .opacity(1);

                    span {
                      .scale(1);
                    }
                  }
                }

                .mask {
                  .opacity(0);
                  .transition(all 300ms ease-in-out);
                  width: 100%;
                  height: 100%;
                  top:0;
                  left:0;
                  position: absolute;
                  background: rgba(0,0,0,0.4);

                  a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    color:#ffffff;

                    span {
                      position: absolute;
                      top:50%;
                      left:50%;
                      font-size: 50px;
                      line-height: 50px;
                      margin-left: -10px;
                      margin-top: -20px;
                      font-weight: 300;
                      .scale(0);
                      .transition(all 500ms ease-in-out);
                    }
                  }
                }

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }

      }
    }
  }

  .leftmenubox {
    visibility: hidden;
    float: left;
    width: 50%;

    .ourmenubox {
      margin-left: 20px;
      margin-right: 10px;

      .titlebox {
        margin-bottom: 45px;

        h2 {
          margin:0;
          font-size: 28px;
          color:#2d2d2d;
          line-height: 28px;
          display: inline-block;
          margin-right: 15px;
          float: left;
          font-weight:600;
        }

        .custom-direction-nav {
          display: inline-block;
        }
      }

      .custom-direction-nav {
        float: left;
        margin-top: 1px;
        width: 57px;
        height: 31px;
        display: block;
        background: url(images/arrow.png) 50% 50% no-repeat;


        li {
          font-size: 0px;
          float: left;
        }
        .flex-next {
          background: url(images/arrowright.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          margin: 3px 0px 0px 1px;
          display: block;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: url(images/arrowrighthov.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }

        .flex-prev {
          background: url(images/arrowleft.png) 50% 50% no-repeat;
          width: 25px;
          height: 25px;
          margin: 3px 0px 0px 3px;
          display: block;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: url(images/arrowlefthov.png) 50% 50% no-repeat;
            .transition(all 300ms ease-in-out);
          }
        }
      }

      .menuitemslist {

        .flex-viewport {
          padding-left: 2px;
          padding-bottom: 5px;
        }

        ul.slides {
          width: 100%;

          li.menufooditem {

            .boxmenuitem {
              width: 95%;

              .whitebox {
                padding-top: 20px;
                padding-bottom: 20px;
                -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
                box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);

                .titile {
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  font-size: 14px;
                  line-height: 14px;
                  font-weight: 700;

                  a:hover {
                    .opacity(0.5);
                    .transition(all 300ms ease-in-out);
                  }
                }
                .descr {
                  font-size: 11px;
                  font-weight: 300;
                  line-height: 14px;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-bottom: 20px;
                }
                .menubottom {
                  margin-left: 10px;
                  margin-right: 10px;

                  .menulink {
                    margin-left: 3px;
                  }

                  .pricemenu {
                    background: url(images/dollar.png) left 50% no-repeat;
                    height: 31px;
                    line-height: 31px;
                    margin-left: 20px;
                    padding-left: 20px;
                    color:#2d2d2d;
                    font-size: 28px;

                    sup {
                      line-height: 0px;
                      font-size: 14px;
                    }
                  }
                }
              }

              .menuimage {
                position:relative;

                &:hover {

                  .mask {
                    .opacity(1);

                    span {
                      .scale(1);
                    }
                  }
                }

                .mask {
                  .opacity(0);
                  .transition(all 300ms ease-in-out);
                  width: 100%;
                  height: 100%;
                  top:0;
                  left:0;
                  position: absolute;
                  background: rgba(0,0,0,0.4);

                  a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    color:#ffffff;

                    span {
                      position: absolute;
                      top:50%;
                      left:50%;
                      font-size: 50px;
                      line-height: 50px;
                      margin-left: -10px;
                      margin-top: -20px;
                      font-weight: 300;
                      .scale(0);
                      .transition(all 500ms ease-in-out);
                    }
                  }
                }

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }

      }
    }
  }
  .righteventbox {
    visibility: hidden;
    float: left;
    width: 50%;

    .latestevbox {
      margin-left:10px;
      margin-right: 20px;

      .titlebox {
        margin-bottom: 45px;

        h2 {
          margin:0;
          font-size: 28px;
          color:#2d2d2d;
          line-height: 28px;
          display: inline-block;
          margin-right: 15px;
          font-weight: 600;
        }
        a {
          font-size: 12px;
          &:hover {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
        }
      }
      .eventsitems {

        .itemev:nth-child(even){
          margin-right: 0;
        }
        .itemev:nth-child(odd){
          margin-right: 4%;
        }
        .itemev:nth-child(5),.itemev:nth-child(6){
          padding-bottom: 0;
          margin-bottom: 0;
          border: none;
        }
        .itemev {
          width: 48%;
          float: left;
          padding-bottom: 22px;
          margin-bottom: 22px;
          border-bottom: 1px dashed #e5e5e5;

          .dateev {
            width: 37px;
            float: left;
            text-align: right;

            .dateday {
              font-size: 28px;
              line-height: 28px;
              color:#787878;
              font-weight: 400;
            }
            .datemonth,.dateyear {
              font-weight: 400;
              font-size: 11px;
              line-height: 11px;
              color:#b6b6b6;
            }
          }
          .rightpartev {
            margin-left: 50px;
            overflow: hidden;

            .tit {
              font-size: 14px;
              font-weight: 700;
              margin-bottom: 10px;

              a:hover {
                .opacity(0.5);
                .transition(all 300ms ease-in-out);
              }
            }
            .descrev {
              font-weight: 300;
              font-size: 11px;
              line-height: 14px;
            }
          }
        }
      }
    }
  }
}
a.button {
  color:#2d2d2d;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  line-height: 12px;
  padding: 9px 15px 9px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  .transition(all 300ms ease-in-out);

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -o-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);

  -moz-box-shadow:inset 0px 0px 0px 1px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 1px #ffffff;
  box-shadow:inset 0px 0px 0px 1px #ffffff;

  &:hover {
    background: rgb(245, 245, 245);
    background: -moz-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -webkit-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -o-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -ms-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: linear-gradient(180deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    .transition(all 300ms ease-in-out);
  }
}
input.button {
  border: none;
  background: none;
  color:#2d2d2d;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  line-height: 12px;
  padding: 9px 15px 9px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  .transition(all 300ms ease-in-out);

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -o-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);
  background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(229, 229, 229) 70%);

  -moz-box-shadow:inset 0px 0px 0px 1px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 1px #ffffff;
  box-shadow:inset 0px 0px 0px 1px #ffffff;

  &:hover {
    background: rgb(245, 245, 245);
    background: -moz-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -webkit-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -o-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: -ms-linear-gradient(90deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    background: linear-gradient(180deg, rgb(245, 245, 245) 30%, rgb(220, 220, 220) 70%);
    .transition(all 300ms ease-in-out);
  }
}

.menupagesection,.singleblog {
  margin-top: 35px;
  margin-bottom: 45px;


}
.breadcrumbs {
  margin-bottom: 35px;
  color:#787878;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  margin-left: 20px;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 15px;
  margin-right: 20px;

  a:hover {
    .opacity(0.5);
    .transition(all 300ms ease-in-out);
  }
}
.fullwidth {
  margin-left: 20px;
  margin-right: 20px;
}
.ale-team .socialbut {

  .fbbut {
    vertical-align: top;
    width: 30px;
    height: 30px;
    .rounded(5px);
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    background: #909090;
    text-align: center;

    a {
      background: url(images/social.png) 0 0 no-repeat;
      width: 12px;
      height: 16px;
      margin: 7px 0px 0px 10px;
      display: block;
      text-indent: -9999px;

      &:hover {
        .opacity(0.5);
        .transition(all 300ms ease);
      }
    }
  }
  .twibut {
    vertical-align: top;
    width: 30px;
    height: 30px;
    .rounded(5px);
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    background: #909090;
    text-align: center;

    a {
      background: url(images/social.png) -32px 0 no-repeat;
      width: 18px;
      height: 16px;
      margin: 7px 0px 0px 6px;
      display: block;
      text-indent: -9999px;

      &:hover {
        .opacity(0.5);
        .transition(all 300ms ease);
      }
    }
  }
  .gbut {
    vertical-align: top;
    width: 30px;
    height: 30px;
    .rounded(5px);
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    background: #909090;
    text-align: center;

    a {
      background: url(images/social.png) -69px 0 no-repeat;
      width: 18px;
      height: 16px;
      margin: 7px 0px 0px 6px;
      display: block;
      text-indent: -9999px;

      &:hover {
        .opacity(0.5);
        .transition(all 300ms ease);
      }
    }
  }
}

.boxarchive {

  article.post {
    width: 33.3%;
    margin-bottom: 15px;
    float: left;

    header.blogpreviewbox {
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);
      margin-right: 7px;
      margin-left: 7px;

      .siglepostvide {

        iframe {
          width: 100%!important;
          height: 217px!important;
        }
      }
    }
    .textdata {
      margin: 15px 15px 0px 5px;

      .dateev {
        width: 37px;
        float: left;
        text-align: right;

        .dateday {
          font-size: 28px;
          line-height: 28px;
          color:#787878;
          font-weight: 400;
        }
        .datemonth,.dateyear {
          font-weight: 400;
          font-size: 11px;
          line-height: 11px;
          color:#b6b6b6;
        }
      }
      .righttextdata {
        margin-bottom: 15px;
        margin-left: 53px;
        overflow: hidden;

        .blogitemtitle {
          font-size: 14px;
          line-height: 16px;
          font-weight: 700;
          margin-bottom: 5px;

          a:hover {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
        }
        .blogitemdate {
          font-size: 12px;
          margin-bottom: 10px;

          a {
            color:#b6b6b6;
          }
          a:hover {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
        }
        .blogitemtext {
          font-size: 12px;
          line-height: 16px;

          p {
            font-size: 12px;
            line-height: 16px;
          }
        }
        .blogitemmore {
          text-align: left;
        }
      }
    }
  }
}

.postslider {
  position:relative;

  ul {
    margin: 0!important;
  }

  .flex-direction-nav {
    position: absolute;
    bottom:5px;
    right:5px;
    width: 57px;
    height: 31px;
    background: url(images/arrow.png) 50% 50% no-repeat;

    li {
      list-style: none!important;
    }

    .flex-prev {
      background: url(images/arrowleft.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      margin: 3px 0px 0px 3px;
      float: left;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowlefthov.png) 50% 50% no-repeat;
      }
    }

    .flex-next {
      background: url(images/arrowright.png) 50% 50% no-repeat;
      width: 25px;
      height: 25px;
      float: left;
      margin: 3px 0px 0px 1px;
      .transition(all 300ms ease-in-out);
      display: block;

      &:hover {
        background: url(images/arrowrighthov.png) 50% 50% no-repeat;
      }
    }
  }
}

.singleblog {
  .leftblogimage {
    max-width: 400px;
    width: 100%;
    float: left;
    border: 6px solid #ffffff;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .posttitle {
    margin-bottom: 24px;

    h2 {
      margin-bottom: 0;
      color:#2d2d2d;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
    }
  }
  .metadatapost {
    margin-bottom: 27px;
    color:#b6b6b6;
    font-size: 12px;
    line-height: 12px;

    .thedate {
      background: url(images/clock.png) left 50% no-repeat;
      padding-left: 20px;
      margin-right: 20px;
    }
    .thecomnum {
      background: url(images/com.png) left 50% no-repeat;
      padding-left: 20px;
    }
  }
}
blockquote {
  margin: 35px 0px 35px 0px!important;
  padding: 30px 20px 30px 100px!important;
  text-align: right;
  border: none!important;
  background: #fff6c7 url(images/quote.png) 40px 35px no-repeat;
  border: 6px solid #fff!important;
  color:#595959;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);


  p {
    text-align: right;
    margin-bottom: 0;
  }
}

article,.custompage {



  ol,ul {
    margin: 30px 10px 30px 40px!important;
  }
  ol {
    counter-reset: li!important;
    list-style: none!important;
    margin-left: 30px!important;
    *list-style: decimal!important;

    li {
      list-style: none!important;
    }
  }
  ul {
    list-style: none;

    li {
      list-style: url(images/ulli.png) none!important;
      line-height: 30px;
    }
  }
  ol li:before {
    content: counter(li)". ";
    counter-increment: li;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
    font-size: 17px;
    color:#cf435a;
  }
}


#footer-main {

  .topfooter {
    width: 100%;
    height: 70px;
    background: #1f1f1f;

    .copy {
      margin-left: 20px;
      line-height: 70px;
      margin-bottom: 0;
      float: left;
      color:#b6b6b6;
      font-size: 12px;
      font-weight: 400;
    }
    .rightfooterpart {
      display: inline-block;
      float: right;

      .footerlogo {
        display: inline-block;
        float: left;
        margin-right: 20px;
      }


      .fuuterimage a{
        display: block;
        width: 98px;
        height: 70px;
        text-indent: -9999px;
        background: url(images/footerlogo.png) 50% 50% no-repeat;

      }
    }
  }
  .bottomfooter {
    width: 100%;
    height: 125px;
    background: #2d2d2d;

    .leftpartfooter {
      width: 50%;
      float: left;

      .contactpart {
        margin-top: 40px;
        margin-left: 20px;

        .onecont {
          display: block;
          float: left;
          margin-right: 15px;
          color:#b6b6b6;
          font-weight: 600;
          font-size: 16px;
        }
        .twocont {
          display: block;
          float:left;
          margin-right: 40px;
          color:#787878;
          font-size: 13px;
          line-height: 18px;

          .phonefooter {
            font-size: 16px;
          }
        }
        .threecont {
          display: block;
          float: left;
          color:#787878;
          font-size: 13px;
          line-height: 18px;
          background: url(images/adress.png) left top no-repeat;
          padding-left: 22px;
        }
      }
    }
    .rightpartfooter {
      width: 50%;
      float: left;

      .bottommenu {
        margin-left: 30px;
        margin-top: 30px;

        li {
          width: 138px;
          background: url(images/footerli.png) left 50% no-repeat;
          padding-left: 12px;
          float: left;
          display: inline-block;
          line-height: 20px;
          font-size: 13px;

          a {
            color:#ffffff;

            &:hover {
              text-decoration: underline;
              .transition(all 300ms ease-in-out);
            }
          }
        }
      }
    }
  }
}


.ale-slider-slides {
  border: 6px solid #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.12);

  .flexslider {

    .descr {

      h3 {
        color:#ffffff;
      }
    }

    .flex-direction-nav {
      position: absolute;
      top:10px;
      right:10px;
      width: 57px;
      height: 31px;
      background: url(images/arrow.png) 50% 50% no-repeat;

      .flex-prev {
        background: url(images/arrowleft.png) 50% 50% no-repeat;
        width: 25px;
        height: 25px;
        margin: 3px 0px 0px 3px;
        float: left;
        font-size: 0px;
        .transition(all 300ms ease-in-out);
        display: block;

        &:hover {
          background: url(images/arrowlefthov.png) 50% 50% no-repeat;
        }
      }

      .flex-next {
        background: url(images/arrowright.png) 50% 50% no-repeat;
        width: 25px;
        height: 25px;
        float: left;
        font-size: 0;
        margin: 3px 0px 0px 1px;
        .transition(all 300ms ease-in-out);
        display: block;

        &:hover {
          background: url(images/arrowrighthov.png) 50% 50% no-repeat;
        }
      }
    }
  }
}

.preloader {
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 99999;
  background: #ffffff;
}

.preloader:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
}



.preloader .spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: 0 0 0 -20px;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #eee;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-right: 0 none;
}

@-webkit-keyframes spin
{
  from { -webkit-transform: rotate(0deg); opacity: 0.4; }
  50%  { -webkit-transform: rotate(180deg); opacity: 1; }
  to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
  from { -moz-transform: rotate(0deg); opacity: 0.4; }
  50%  { -moz-transform: rotate(180deg); opacity: 1; }
  to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
  from { -ms-transform: rotate(0deg); opacity: 0.4; }
  50%  { -ms-transform: rotate(180deg); opacity: 1; }
  to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
  from { -o-transform: rotate(0deg); opacity: 0.4; }
  50%  { -o-transform: rotate(180deg); opacity: 1; }
  to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
  from { transform: rotate(0deg); opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}




.commentform {
  margin-top: 50px;
  border-top: 5px solid #cf435a;

  .cancel-comment-reply {
    font-size: 13px;

    a:hover {
      .opacity(0.5);
      .transition(all 300ms ease-in-out);
    }
  }

  section.comments {
    margin-bottom: 45px;
    margin-top:30px;

    .commenttitle{
      border-bottom: 1px solid #e5e5e5;
    }
    h3.headerfont {
      font-size: 30px;
      color:#2d2d2d;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 30px;
      display: inline-block;
      margin-right: 15px;

    }
    span.thecomnum {

      color:#b6b6b6;
      font-size: 12px;
      line-height: 12px;
      background: url(images/com.png) left 50% no-repeat;
      padding-left: 20px;
    }

    ul.commentlist {
      list-style: none!important;
      margin: 0!important;

      li {
        list-style: none!important;
        margin-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid #e5e5e5;

        .avatarcom {
          width: 60px;
          float: left;

          img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
          }
        }
        .rightcompart {
          margin-left: 60px;
          overflow: hidden;

          .comment-body {
            font-size: 13px;
          }

          .nikcom {
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color:#cf435a;
            margin-right: 15px;
          }
          .comtime {
            color:#b6b6b6;
            font-size: 12px;
            margin-right: 10px;
          }
          .comdate {
            color:#b6b6b6;
            font-size: 12px;
          }
          .replylinkcom {
            float: right;
            text-transform: uppercase;

            font-size: 12px;

            a {
              color:#d0d0d0;
              background: url(images/reply.png) right 50% no-repeat;
              padding-right: 20px;
            }
          }
          header.comment-author {
            margin: 0;
            padding: 0;
            line-height: 14px;
            margin-bottom: 17px;
          }
        }
      }
    }
  }
  section.respond {
    max-width: 400px;

    .area1 {
      margin-bottom: 15px;

      input {
        width: 47%;
      }
      input:nth-child(2){
        float: right;
        margin-right: -10px;
      }
    }
    .area2 {
      .responditemform {
        margin-bottom: 10px;

        textarea {
          height: 75px;
        }
      }
    }
  }
}
.leftsidebaron {
  margin-right: 20px;
  margin-left: 260px;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}
.rightsidebaron {
  margin-left: 20px;
  margin-right: 260px;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}
.fullwidth {
  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}




/* Sidebars
*******************************/
.leftsidebar {
  margin-left: 20px;
  float: left;
  width: 210px;
  display: inline-block;
  vertical-align: top;
}
.rightsidebar {
  margin-right: 20px;
  float: right;
  width: 210px;
  display: inline-block;
  vertical-align: top;
}
.widget {
  margin-bottom:30px;

  .aletheme-about-widget {

    figure {
      margin-bottom: 12px;
      border:4px solid #ffffff;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .text,p {
      font-size: 13px;
      line-height: 18px;
    }
  }
  .widtitle {


    h4 {
      margin-bottom: 10px;
      border-bottom: 1px dashed #e5e5e5;
      padding-bottom: 10px;
      font-size: 24px;
      line-height: 26px;
      color:#2d2d2d;
    }
  }
}
.widget_recent_comments {

  ul {
    li {
      text-transform: none;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      margin-left: 10px;
      margin-bottom: 5px;
      background: url(images/footerli.png) left 7px no-repeat;
      padding-left: 10px;
    }
  }
}
.widget_pages,.widget_recent_entries,.widget_archive,.widget_nav_menu,.widget_categories,.widget_meta {

  ul li {
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-left: 10px;
    background: url(images/footerli.png) left 50% no-repeat;
    padding-left: 10px;
  }
}
.cusstyle20 {
  font-style: italic;

  a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    font-style: italic;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 9px 3px 9px!important;
    display: inline-block;
    background-color: #cf435a;
    margin-right: 3px!important;
    margin-bottom: 3px!important;
    font-size: 14px!important;
    line-height: 14px;
    color:#ffffff;

    &:hover {
      .opacity(0.8);
      .transition(all 300ms ease-in-out);
    }
  }
}
.widget_categories,.widget_nav_menu,.widget_pages,.widget_recent_entries,.widget_archive,.widget_meta {
  text-transform: uppercase;

  font-size: 14px;

  li {
    margin-left: 10px;
    line-height: 14px;
    margin-bottom: 13px;

    ul {
      margin-top: 13px;
    }

    li {
      margin-left: 10px;
    }

  }
}
.searchinput {
  width: 145px;
}
.textwidget {
  font-size: 13px;
  line-height: 18px;

  p {
    font-size: 13px;
    line-height: 18px;
  }
}
.tagcloud:after,.tagcloud:before {
  content:"";
  clear: both;
  display:table;
}
.tagcloud {
  clear: both;

  a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    font-style: italic;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 9px 5px 9px!important;
    display: inline-block;
    float: left;
    margin-right: 3px!important;
    margin-bottom: 3px!important;
    font-size: 14px!important;
    color:#ffffff;

    &:hover {
      .opacity(0.8);
      .transition(all 300ms ease-in-out);
    }
  }
}
.aletheme-flickr-widget {
  li.picture:nth-child(3n+3){
    margin-right: 0;
  }
  li.picture {
    max-width: 68px;
    display: inline-block;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;

    img {
      max-width: 68px;
      height: auto;
    }

    &:hover {
      .opacity(0.5);
      .transition(all 300ms ease-in-out);
    }
  }
}
.aletheme-blog-widget,.aletheme-mostcommented-widget {

  ul {

    li:last-child {
      margin-bottom: 0px;
      border-bottom: none;
    }

    li {
      background: #ffffff;
      margin-bottom: 20px;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    max-width: 230px;
    height: auto;
  }
  .detail {
    margin-bottom: 5px;

    .entry-meta {
      font-size: 12px;
      display: block;
      margin-left: 15px;
      margin-bottom: 15px;
      line-height: 14px;
      text-transform: lowercase;
      color:#b6b6b6;
      background: url(images/com.png) left 50% no-repeat;
      padding-left: 18px;
    }
  }
  .entry-title {
    margin: 15px 15px 7px 15px;
    font-size: 14px;
    line-height: 16px;

    a {
      .transition(all 300ms ease-in-out);

      &:hover {
        .opacity(0.5);
        .transition(all 300ms ease-in-out);
      }
    }
  }
  .entry-thumb {
    overflow: hidden;

    img {
      .transition(all 300ms ease-in-out);
    }

    &:hover {

      img{
        .scale(1.1);
        .transition(all 300ms ease-in-out);
      }
    }
  }
}
.widget_archive ul,.widget_categories ul,.widget_nav_menu ul,.widget_meta ul,.widget_pages ul,.widget_recent_comments ul,.widget_recent_entries ul {
  font-size: 16px;

  a:hover {
    .opacity(0.5);
    .transition(all 300ms ease-in-out);
  }
}
.widget_search {

  .searchinput {
    width: 120px;
    vertical-align: middle;
  }
  #searchsubmit {

    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    vertical-align: middle;
  }
}
.aletheme-tweets-widget {

  span.date {
    display: block;
    font-size: 10px;
    font-style: italic;
  }
}



/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
  margin: 0;
  padding: 0;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: #f2f1f1;
  position: relative;
}

.jspDrag
{
  background: #000000;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled
{
  cursor: default;
}

.jspVerticalBar .jspArrow
{
  height: 5px;
}

.jspHorizontalBar .jspArrow
{
  width: 5px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}





/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


.gallery-columns-3 {
  dl.gallery-item {
    width: 33%;
    float: left;
    text-align: center;
  }
}
.gallery-columns-2 {
  dl.gallery-item {
    width: 49%;
    float: left;
    text-align: center;
  }
}
.gallery-columns-4 {
  dl.gallery-item {
    width: 25%;
    float: left;
    text-align: center;
  }
}
.gallery-columns-5 {
  dl.gallery-item {
    width: 20%;
    float: left;
    text-align: center;
  }
}
.gallery-columns-6 {
  dl.gallery-item {
    width: 16%;
    float: left;
    text-align: center;
  }
}
.gallery-columns-7 {
  dl.gallery-item {
    width: 14%;
    float: left;
    text-align: center;
  }
}

.gallery-columns-8,.gallery-columns-9,.gallery-columns-10 {
  dl.gallery-item {
    width: 14%;
    float: left;
    text-align: center;
  }
}

dl.gallery-item {
  margin: 0;
  box-shadow: none;
  padding: 0px;
  color:#4a4a4a;
  text-align: center;
  display: block;

  dt {
    width: auto;
    float: none;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    line-height: 13px;
    color:#000000;
    text-transform: uppercase;
  }
  dd {
    display: block;
    margin: 0 auto;
    line-height: 18px;
  }
}
.gallery-item a,
.gallery-caption {
  width: 100%;
}
.gallery-item a {
  display: block;
}
.gallery-caption a {
  display: inline;
}
.gallery-columns-1 .gallery-item a {
  max-width: 100%;
  width: auto;
}
.gallery .gallery-icon img {
  height: auto;
  max-width: 100%;
  padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
  padding: 3%;
}


/*Effects*/
.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}



.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}



.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}


.expandOpen{
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen;

  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}


@keyframes expandOpen {
  0% {
    transform: scale(1.8);
  }
  50% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8);
  }
  50% {
    -webkit-transform: scale(0.95);
  }
  80% {
    -webkit-transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
  }
}




.expandUp{
  animation-name: expandUp;
  -webkit-animation-name: expandUp;

  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%) scale(1) scaleY(1);
  }
}

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    -webkit-transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    -webkit-transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
  }
}

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-2%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-2%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-1%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}



.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50%{
    ransform: translateX(-4%);
  }
  65%{
    transform: translateX(4%);
  }
  80%{
    transform: translateX(-2%);
  }
  95%{
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50%{
    -webkit-transform: translateX(-4%);
  }
  65%{
    -webkit-transform: translateX(4%);
  }
  80%{
    -webkit-transform: translateX(-2%);
  }
  95%{
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}



.abouttwoto {
  margin: 0 20px 0 20px;

  .siglepostvide {

    iframe {
      width: 100%;
    }
  }
}
.sliderboxabouttwo {

  img {
    max-width: 100%;
    height: auto;
  }
}
.contacttexttop,.topconttwoimg {
  margin: 0 20px 0 20px;
}
.mapbottomcont {
  iframe {
    width: 100%;
  }
}
.bottocontacttwo {
  margin-top: 40px;
}
.gallerytwocolumns {
  .gallerygrid .galleryitems .galitem {
    width: 50%;
  }
  .gallerygrid .galleryitems .galitem .imagegally img {
    width: 100%;
    height: auto;
  }
}
.galleryfourcolumns {
  .gallerygrid .galleryitems .galitem {
    width: 25%;
  }
  .gallerygrid .galleryitems .galitem .imagegally img {
    width: 100%;
    height: auto;
  }
}
.blogpagetwocolumns {
  .boxarchive article.post {
    width: 50%;
  }
}
.blogpageonecolumns {
  .boxarchive article.post {
    width: 100%;
  }
}
.homegally {
  visibility: hidden;
  #filters {
    text-align: center;

    li {
      float: none;
    }
  }
}
.homeblogsect {
  visibility: hidden;

  .bloghometitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color:#2d2d2d;
    font-weight: 600;
  }

  .postslider {

    img {
      width: 100%;
      height: auto;
    }
  }
}

.iconssectiontwo {
  margin-bottom: 50px;
  margin-top: 20px;
}
.errorp1 {
  text-align: center;
  margin: 20px 0px 50px 0px;
}
.errorp2 {
  text-align: center;
  margin: 20px 0px 50px 0px;
}
.errortitle {
  text-align:center;
}