.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Reset styles
*******************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  overflow-y: scroll;
  /* 1 */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 3 */

  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}
/* Form Elements
*******************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border: none;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: button;
  font-size: 12px;
  background: transparent;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: none;
  height: 20px;
  width: 100%;
  font-size: 12px;
  padding: 5px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
textarea {
  resize: none;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.l {
  text-align: left;
}
.c {
  text-align: center;
}
.j {
  text-align: justify;
}
.r {
  text-align: right;
}
/* Clearfix
*******************************/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
*******************************/
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* Headers
*******************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  text-transform: none;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
/* Text elements
*******************************/
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}
/* Wordpress Typo
*******************************/
.story,
.defaultwp,
.contentaboutbox {
  line-height: 1.5;
}
.story ul,
.defaultwp ul,
.contentaboutbox ul {
  list-style: square;
}
.story ul li,
.defaultwp ul li,
.contentaboutbox ul li {
  list-style: square;
}
.story ol,
.defaultwp ol,
.contentaboutbox ol {
  list-style: decimal;
}
.story ol li,
.defaultwp ol li,
.contentaboutbox ol li {
  list-style: decimal;
}
.story ul,
.defaultwp ul,
.contentaboutbox ul,
.story ol,
.defaultwp ol,
.contentaboutbox ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.defaultwp ul ul,
.contentaboutbox ul ul,
.story ol ul,
.defaultwp ol ul,
.contentaboutbox ol ul,
.story ul ol,
.defaultwp ul ol,
.contentaboutbox ul ol,
.story ol ol,
.defaultwp ol ol,
.contentaboutbox ol ol {
  margin-bottom: 0;
}
.story ol ol,
.defaultwp ol ol,
.contentaboutbox ol ol {
  list-style: upper-alpha;
}
.story ol ol ol,
.defaultwp ol ol ol,
.contentaboutbox ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol,
.defaultwp ol ol ol ol,
.contentaboutbox ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.defaultwp h1,
.contentaboutbox h1,
.story h2,
.defaultwp h2,
.contentaboutbox h2,
.story h3,
.defaultwp h3,
.contentaboutbox h3,
.story h4,
.defaultwp h4,
.contentaboutbox h4,
.story h5,
.defaultwp h5,
.contentaboutbox h5,
.story h6,
.defaultwp h6,
.contentaboutbox h6 {
  text-transform: none;
  margin-bottom: .5em;
}
.story a:link,
.defaultwp a:link,
.contentaboutbox a:link,
.story a:visited,
.defaultwp a:visited,
.contentaboutbox a:visited,
.story a:hover,
.defaultwp a:hover,
.contentaboutbox a:hover,
.story a:active,
.defaultwp a:active,
.contentaboutbox a:active {
  text-decoration: none;
}
.story table,
.defaultwp table,
.contentaboutbox table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.defaultwp table td,
.contentaboutbox table td,
.story table th,
.defaultwp table th,
.contentaboutbox table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th,
.defaultwp table th,
.contentaboutbox table th {
  font-weight: bold;
}
.story pre,
.defaultwp pre,
.contentaboutbox pre,
.story code,
.defaultwp code,
.contentaboutbox code {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 15px 10px 0px;
}
.story address,
.defaultwp address,
.contentaboutbox address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story blockquote,
.defaultwp blockquote,
.contentaboutbox blockquote {
  font-style: italic;
  border-left: 2px dotted #9b9b9b;
  padding-left: 15px;
  margin: 1em 3em;
}
.story blockquote p:before,
.defaultwp blockquote p:before,
.contentaboutbox blockquote p:before {
  content: '"';
}
.story blockquote p:after,
.defaultwp blockquote p:after,
.contentaboutbox blockquote p:after {
  content: '"';
}
.story .wp-caption,
.defaultwp .wp-caption,
.contentaboutbox .wp-caption {
  box-shadow: 1px 1px 2px #bebebe;
  width: auto;
}
.story .wp-caption p.wp-caption-text,
.defaultwp .wp-caption p.wp-caption-text,
.contentaboutbox .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #a1a1a1!important;
  margin: 0!important;
}
.story dl,
.defaultwp dl,
.contentaboutbox dl {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 20px 10px 0px;
}
.story dl dt,
.defaultwp dl dt,
.contentaboutbox dl dt {
  width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
}
.story dl dd,
.defaultwp dl dd,
.contentaboutbox dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.defaultwp img.size-auto,
.contentaboutbox img.size-auto,
.story img.size-full,
.defaultwp img.size-full,
.contentaboutbox img.size-full,
.story img.size-large,
.defaultwp img.size-large,
.contentaboutbox img.size-large,
.story img.size-medium,
.defaultwp img.size-medium,
.contentaboutbox img.size-medium,
.story .attachment img,
.defaultwp .attachment img,
.contentaboutbox .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */

  height: auto;
  /* Override height to match resized width for correct aspect ratio. */

}
.story .alignleft,
.defaultwp .alignleft,
.contentaboutbox .alignleft,
.story img.alignleft,
.defaultwp img.alignleft,
.contentaboutbox img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.defaultwp .alignright,
.contentaboutbox .alignright,
.story img.alignright,
.defaultwp img.alignright,
.contentaboutbox img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.defaultwp .aligncenter,
.contentaboutbox .aligncenter,
.story img.aligncenter,
.defaultwp img.aligncenter,
.contentaboutbox img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.defaultwp img.alignleft,
.contentaboutbox img.alignleft,
.story img.alignright,
.defaultwp img.alignright,
.contentaboutbox img.alignright,
.story img.aligncenter,
.defaultwp img.aligncenter,
.contentaboutbox img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption,
.defaultwp .wp-caption,
.contentaboutbox .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text,
.defaultwp .wp-caption p.wp-caption-text,
.contentaboutbox .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley,
.defaultwp .wp-smiley,
.contentaboutbox .wp-smiley {
  margin: 0;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  position: relative;
}
.flexslider ul,
.flexslider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider ul li,
.flexslider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child {
  margin-bottom: 0;
}
.flex-container {
  position: relative;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
