@media (min-width: 1200px) {
  
}
@media (min-width: 980px) {
  
}
@media (max-width: 1000px) {
  #mainheader .topslider .headerdata .logobox {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
  }
  #mainheader .topslider .headerdata .opentimebox {
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
  }
  #mainheader .topslider .headerdata .opentimebox .timeblock {
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }
  #mainheader .topslider .headerdata .opentimebox .timeblock h2 {
    display: none;
  }
  #mainheader .topslider .headerdata {
    top: 5px;
    text-align: center;
  }
}
@media (max-width: 980px) {
  #topmenu {
    display: none;
  }
  #mobilenav {
    display: block!important;
  }
  #mobilenav select {
    margin-top: 20px;
    height: 30px;
    width: 220px;
  }
  #mainheader .topslider .rightlinepart .hiddenbutton {
    visibility: hidden;
  }
}
@media (max-width: 960px) {
  .page .gallerygrid .galleryitems .galitem .imagegally .mask2 .gallydate {
    display: none;
  }
}
@media (max-width: 900px) {
  .page .menutypelist .menuslider .bottommenuslider {
    display: none;
  }
}
@media (max-width: 780px) {
  .abouthome {
    height: 300px;
  }
  .abouthome .blackbg {
    height: 300px;
  }
  .reviews {
    height: auto;
    padding-bottom: 20px;
  }
  .reviews .revitems .itemrev {
    width: 100%;
    margin-bottom: 30px;
  }
  .reviews .revitems .itemrev .leftimage {
    float: none;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .reviews .revitems .itemrev .leftimage img {
    max-width: 65px;
    height: auto;
  }
  .reviews .revitems .itemrev .rightinfo {
    margin: 0;
    text-align: center;
  }
  .bottomtwoboxes .leftmenubox {
    width: 100%;
    margin-bottom: 30px;
  }
  .bottomtwoboxes .righteventbox {
    width: 100%;
  }
  .page .gallerygrid .galleryitems .galitem {
    width: 49%;
  }
  .page .menutypelist .menutypeitem {
    width: 48%;
  }
}
@media (max-width: 660px) {
  .iconssection .iconbox {
    width: 100%;
  }
  #footer-main .topfooter .rightfooterpart {
    display: none;
  }
  #footer-main .bottomfooter {
    text-align: center;
    height: auto;
    padding-bottom: 15px;
  }
  #footer-main .bottomfooter .leftpartfooter {
    width: 100%;
    float: none;
    clear: both;
    display: inline-block;
    margin-bottom: 30px;
  }
  #footer-main .bottomfooter .leftpartfooter .contactpart {
    display: inline-block;
    margin-left: 0;
  }
  #footer-main .bottomfooter .rightpartfooter {
    clear: both;
    width: 100%;
    float: none;
    display: inline-block;
  }
  #footer-main .bottomfooter .rightpartfooter .bottommenu {
    display: inline-block;
    text-align: left;
  }
  #mainheader .topline .headerleftdata {
    margin-left: 0;
  }
  #mainheader .topline .socialprof {
    margin-right: 0;
  }
  #footer-main .topfooter .copy {
    margin: 0;
    line-height: 14px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .page .leftpart,
  .page .rightpart {
    width: 100%;
    float: none;
  }
  .boxarchive article.post {
    width: 49%;
  }
  .page .eventtypelist .menutypeitem {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .rightsidebar,
  .leftsidebar {
    display: none;
  }
  .leftsidebaron {
    margin-left: 20px;
  }
  .rightsidebaron {
    margin-right: 20px;
  }
  #mainheader .topline {
    height: 100px;
  }
  #mainheader .topline .headerleftdata {
    float: none;
    text-align: center;
    width: 100%;
  }
  #mainheader .topline .socialprof {
    float: none;
    width: 100%;
    text-align: center;
  }
  #mainheader .topline .socialprof a {
    display: inline-block !important;
    float: none!important;
  }
  #mainheader .topslider .navsection {
    height: 150px;
  }
  #mainheader .topslider .navsection .navigationbox {
    height: 60px;
    margin: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  #mainheader .topslider .flexslider {
    margin-top: 151px;
  }
  #mainheader .topslider .rightlinepart {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .page .aboutpageteam .teamphotos .teamitem {
    width: 50%;
  }
  .page .menutypelist .menutypeitem {
    width: 98%;
  }
}
@media (max-width: 480px) {
  #mainheader .topslider .headerdata .opentimebox .timeblock {
    display: none;
  }
  .mobileopening {
    display: block;
  }
  #mainheader .topslider .headerdata .logobox,
  #mainheader .topslider .pageheder .blackmask .logobox {
    display: none;
  }
  #mainheader .topslider .headerdata .mobilelogo,
  #mainheader .topslider .pageheder .blackmask .mobilelogo {
    display: inline-block;
  }
  #mainheader .topslider .flexslider {
    height: 350px;
  }
  .abouthome .aboutdescr {
    line-height: 18px;
    margin-top: 0px;
    font-size: 12px;
  }
  .abouthome .abouttitle {
    margin-top: 20px;
  }
  .page .gallerygrid .galleryitems .galitem {
    width: 100%;
    max-width: 330px;
  }
  .boxarchive article.post {
    width: 100%;
  }
}
@media (max-width: 380px) {
  #mainheader .topline .headerleftdata {
    margin: 0;
  }
  #mainheader .topline .headerleftdata,
  #mainheader .topline .adresstext {
    font-size: 11px;
    padding: 0;
    background: none;
  }
}
