/****************************/
/* styles added by sunil    */
/* sunil@sunil.co.nz        */
/****************************/

/* style the Events Calendar Pro List Widget */

.righteventbox h2 {
    font-weight: 600 ;

}

.righteventbox h4 a {

    font-size: 14px ;
    font-weight: bold ;

}

.righteventbox .tribe-events-widget-link {

    padding-top: 12px ;
    padding-bottom: 12px ;
}

.righteventbox .tribe-events-widget-link a {

    font-size: 14px ;
}

/***********************************/
/* sunils additiion, may 12, 2014 */
/***********************************/

/*  add logo/hyperlink to header navigation row */

#mainheader .topslider .navsection {
    position: relative !important ;
}

#topmenu {
    position: relative ;
}

/* lots of hackery for positioning the navigation menu */

#nav-header-logo img {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 77px ;
    width: 200px ;
    overflow: hidden ;
}

.mobile-logo img {
    padding-top: 10px ;
    padding-bottom: 8px ;
    text-align: center ;
    height: 50px ;
}

@media all and  (min-width: 979px) {
    .mobile-logo{
	display: none ;
    }
}

@media all and  (min-width: 650px) {
    #mobilenav select {
        position: absolute ;
	top: 0 ;
	right: 8px ;	
    }

}
#menu-header {
    /*margin-left: 240px ; */
    margin-left: 580px ;
}



/*  remove the box that shows the hours */
.timebox {
    display: none ;
}

/* don't show header slideshow, if the viewpane is mobile(ish) sized */
@media only screen and (min-width: 0px) and (max-width: 640px) {

    .homepage-slider-container,     .food-menu-slider  {
        display: none ;
    }

}

/* change font sizes for menu item on menu page  */

.menutypelist .menutypeitem .titile a {
    font-size: 20px ;
    line-height: 1.2 ;
}
.page .menutypelist .menutypeitem .whitebox .menubottom .pricemenu  {
    line-height: 1.2 ;
    font-size: 16px ;
}

/* pad page content for shop singles  */
.jz-product-wapper {
    padding-top: 80px ;
}

.home .titile a {
    font-size: 20px ;
    line-height: 1.2 ;
}

.home .bottomtwoboxes {
    padding-top: 22px
}

.home .bottomtwoboxes .leftmenubox .ourmenubox .menuitemslist ul.slides li.menufooditem .boxmenuitem .whitebox .menubottom .pricemenu  {
    font-size: 16px ;
}

.home .eventspane {
    overflow: hidden ;
    position: relative ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 16px ;
    width: 403px ;
    height: 200px
}

/* menu page full-width slider  */
.food-menu-slider {
    margin-bottom: 24px ;
}

@media all and (min-width: 768px)  {
    .home .eventspane {
	margin-top: 56px ;
    }

    #slider-and-events {
	padding-top: 56px ;
    }
    
    #menu-header li {
	float: right ;
    }
}